<div style="padding:20px;">
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>

    <div style="text-align: right;">
        <a href="/task" style="color: #f47f1c;font-weight:600"><-- Back to Task list</a>
    </div>
</div>