  {{> header}}
<div class="col" style="height: 80vh;text-align: center;color:#f15c05;padding-top: 10%;">
    <h5 class="head-sm">
        Assignment
    </h5>
    <h1 class="head-lg">
        The most loved Todo list App
    </h1>
    <hr>
    <h3 class="head-md">Coming Soon</h3>
    <button class="btn-cust-head">Login</button>
    <button class="btn-cust-head">Register</button>
</div>
